@font-face {
  font-family: "dodger";
  src: url("../fonts/Dodgv2c.ttf");
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid orange;
  overflow: hidden;
}

/* HEADER start */

#header {
  display: flex;
  justify-content: space-evenly;
  height: 4em;
  background-color: #444444;
}

.logo img {
  max-height: 4em;
}

.socialNetworks img {
  max-height: 4em;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logged {
  color: lightblue;
  padding: 0.9em;
}

#logout {
  padding: 0.9em;
  background-color: #ffc400;
  cursor: pointer;
  border-radius: 0.5em;
}

.btn {
  display: initial;
}

.btn-delete {
  display: none;
}

/* Login */

#delete,
.delete,
.remove {
  display: none;
}

#show,
.show {
  display: initial;
}

.logging {
  padding: 2em;
  display: initial;
}

#error,
#error1,
.error {
  padding: 1em;
  color: red;
}

.form-group {
  padding: 0.5em;
}

#loggedLink {
  text-decoration: none;
  color: lightblue;
  padding-right: 1em;
  border-right: 1px solid;
}

#yourCars {
  text-decoration: none;
  color: lightblue;
}

/* HEADER end */

/* Description */

#desc {
  background-image: url(../img/cover/second-car.jpg);
  background-position: center;
  height: 50em;
  margin-bottom: 3em;
}

/* Car cards */

#allCars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.car img {
  width: 30em;
  height: 17em;
}

.offerHeader {
  position: relative;
  top: 8em;
  color: white;
}
.offerText {
  position: relative;
  top: 20em;
  color: white;
}

#desc img {
  margin-bottom: 2em;
}

.yourCarsDesc {
  margin: 2em 0;
}

#filterYear{

  border: none;
  background-color: red;
  color:#ffffff;
  padding: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  margin: 0.5em;

}

/* Contact info */
#contact {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #000;
  color: #ffffff;
}

#map h3 {
  margin: 2em;
}

#map iframe {
  margin-bottom: 2em;
  border-radius: 1em;
  width: 30em;
  height: 15em;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contactInfo h3 {
  margin: 2em;
}

#contactInfo ul {
  justify-content: center;
  list-style-type: none;
  margin-bottom: 15%;
}

#contactInfo ul li {
  padding: 1.5em;
}

#contactInfo ul li p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.1em;
}

/* Contact info */

/* RESPONSIVE */

@media screen and (max-width: 1640px) {
  #wrapper{
    width: 100%;
    border: none;
  }
  #allCars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 1088px) {
  #wrapper{
    width: 100%;
  }
  #allCars {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .socialNetworks {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #wrapper {
    width: 100%;
    border: none;
  }
  #allCars {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .socialNetworks {
    display: none;
  }
  .logo {
    display: none;
  }
  .addCar {
    width: 38%;
    height: 3em;
  }

  .addCar p {
    top: 30%;
  }
}

@media screen and (max-width: 445px) {
  #wrapper {
    width: 100%;
    border: none;
  }
  #allCars {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .socialNetworks {
    display: none;
  }
  .logo {
    display: none;
  }
  .car img {
    width: 15em;
    height: 10em;
  }
}

@media screen and (max-width: 414px) {
  .addCar p {
    top: 13%;
  }
}